.site-main {
    background-color: #ffffff;
    z-index: 1;
}

.site-section {
    padding: 100px 0;
}

.site-section h2 {
    font-family: "Varela", sans-serif;
    margin: 0;
    font-size: 32px;
    color: #196fc2;
    text-align: center;
    text-transform: uppercase;
}

.section-diff-title h2 {
    margin: 0;
    font-weight: 300;
    color: #666;
}

.section-diff-title p {
    position: relative;
    font-family: "Varela", sans-serif;
    margin: 60px 0 0;
}

.section-diff-title p:before {
    content: '';
    display: block;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    width: 50px;
    background-color: #666;
}

@media only screen and (max-width: 991px) {

    /* Sections */
    .site-section {
        padding: 80px 0;
    }
}

@media only screen and (max-width: 767px) {

    /* Sections */
    .site-section {
        padding: 60px 0;
    }

    .site-section h2 {
        font-size: 24px;
    }

    .section-subtitle span {
        display: inline-block;
        max-width: 230px;
        font-size: 14px;
    }
}

.section-hello .col-sm-4 {
    min-height: 325px;
}

.section-about .row {
    margin-top: 70px;
}
@media only screen and (max-width: 767px) {
    .section-about .row {
        margin-top: 30px;
    }

    .section-about .col-xs-6:nth-child(n+3) .feature-about {
        margin-top: 20px;
    }

    .section-about .feature-about h3 {
        margin-top: 30px;
    }

    .section-about .feature-about p {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 479px) {
    .section-about .col-xs-6 {
        width: 100%;
        min-height: 100%;
    }

    .section-about .col-xs-6:nth-child(n+2) .feature-about {
        margin-top: 20px;
    }
}

/* Services */

.section-services.site-section {
    padding: 0;
    background-color: #f6f6f6;
}

.section-services .container-fluid {
    padding: 100px 15px 70px;
    background-color: #ffffff;
}

.section-services .container-fluid+.container {
    margin-top: 80px;
}

.section-services .col-sm-fifth {
    width: 20%;
    display: table;
}

.section-services .nav-tabs {
    position: relative;
    min-height: 160px;
    width: 100%;
    margin: 70px 0 0;
    bottom: 0;
    left: 0;
    border-bottom: 0;
}

.section-services .nav-tabs .col-sm-fifth {
    height: 160px;
    background: #ffffff;
    border-bottom: 3px solid #196fc2;
}

.section-services .carousel-inner {
    margin-top: 75px;
}

.section-services .carousel-inner img {
    border-radius: 10px 10px 0 0;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
}

.section-services .item-controls {
    height: 45px;
}

.section-services .item-controls .carousel-control {
    margin: 7px 5px 0;
    position: relative;
    border: 1px solid #dddddd;
    background: #ffffff;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    opacity: 1;
}

.section-services .item-controls .carousel-control i {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    font-size: 18px;
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    text-shadow: none;
}

.section-services .item-controls .carousel-control:hover, .section-services .item-controls .carousel-control:focus {
    background-color: #196fc2;
    border-color: #196fc2;
}

.section-services .item-controls .carousel-control:hover i, .section-services .item-controls .carousel-control:focus i {
    color: #ffffff;
}

.section-services .item-controls.left i {
    padding-right: 3px;
}

.section-services .item-controls.right i {
    padding-left: 3px;
}

.service {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    color: #000;
}

.service .rectangle {
    margin: 0 auto 20px;
    box-shadow: none;
}

.service p {
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 12px;
}

.section-services .col-sm-7 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.section-services .col-sm-5 {
    min-height: 390px;
}

.service-info h3 {
    font-size: 28px;
    margin: 20px 0 0;
}

.service-info p {
    margin: 30px 0 0;
}

.nav-tabs .col-sm-fifth,
.item-controls .carousel-control i,
.service .rectangle,
.service p,
.carousel-indicators .service .rectangle i {
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.carousel-indicators .active .col-sm-fifth,
.carousel-indicators a:hover .col-sm-fifth {
    background-color: #196fc2;
}

.carousel-indicators .active .service p,
.carousel-indicators a:hover .service p {
    opacity: 0;
    visibility: hidden;
}

.carousel-indicators .active .service .rectangle,
.carousel-indicators a:hover .service .rectangle {
    background-color: #ffffff;
    height: 80px;
    width: 80px;
    margin-bottom: 0;
}

.carousel-indicators .active .service .rectangle i,
.carousel-indicators a:hover .service .rectangle i {
    font-size: 32px;
}

.carousel-indicators .active .service .rectangle {
    color: #196fc2;
}

.carousel-indicators .active .service:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -18px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #196fc2 transparent transparent transparent;
    z-index: 99;
}

@media only screen and (max-width: 991px) {

    /* Section: Services */
    .section-services .container-fluid {
        padding: 80px 15px 50px;
    }

    .section-services .container-fluid+.container {
        margin-top: 60px;
    }

    .section-services .nav-tabs {
        margin-top: 50px;
    }

    .section-services .carousel-inner {
        margin-top: 55px;
    }

    .section-services .service-info h3 {
        margin-top: 0;
    }

    .section-services img {
        margin: 30px auto 0;
    }
}

@media only screen and (max-width: 767px) {

    /* Section: Services */
    .section-services .container-fluid {
        padding: 60px 15px 30px;
    }

    .section-services .container-fluid+.container {
        margin-top: 40px;
    }

    .section-services .nav-tabs {
        margin-top: 30px;
        min-height: 70px;
    }

    .section-services .nav-tabs .col-sm-fifth {
        height: 70px;
    }

    .section-services .carousel-inner {
        margin-top: 35px;
    }

    .section-services .carousel-indicators .active .service .rectangle,
    .section-services .carousel-indicators a:hover .service .rectangle,
    .section-services .carousel-indicators .service .rectangle {
        margin-bottom: 0;
        height: 28px;
        width: 28px;
    }

    .section-services .carousel-indicators .active .service .rectangle i,
    .section-services .carousel-indicators a:hover .service .rectangle i,
    .section-services .carousel-indicators .service .rectangle i {
        font-size: 14px;
    }

    .section-services .col-sm-5 {
        min-height: 100%;
    }

    .section-services .col-sm-7 {
        position: relative;
    }

    .section-services .service-info h3 {
        font-size: 22px;
    }

    .section-services .service-info p {
        margin: 15px 0 0;
    }
}
