.site-footer .container-fluid {
    position: relative;
    padding: 70px 15px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.site-footer .container {
    padding: 70px 15px 100px;
}

.site-footer ul {
    margin-bottom: 0;
}

.site-footer ul li {
    padding: 0 10px;
}

.site-footer ul a {
    font-size: 12px;
    color: #666;
    text-transform: uppercase;
}

.site-footer ul a:hover {
    color: #196fc2;
}

.site-footer a {
    font-size: 12px;
    color: #666;
    text-transform: uppercase;
}

.site-footer a:hover {
    color: #196fc2;
}

.site-footer .rectangle {
    position: absolute;
    bottom: -20px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background-color: #000;
    border: none;
    color: #ffffff;
    box-shadow: none;
}

.site-footer .rectangle:hover {
    background-color: #196fc2;
    color: #ffffff;
}

.site-footer .copyright {
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {

    /* FOOTER*/
    .site-footer .container-fluid {
        padding: 40px 15px;
    }

    .site-footer .container {
        padding: 40px 15px 80px;
    }
}